.appscreen {
  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 17%;
    left: 6%;
    width: 41%;
    height: 61%;
    z-index: -1;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
.home {
  display: flex;
  width: 100%;
  height: 100%;

  &__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &__section {
    cursor: default;
    position: absolute;
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
  }
  &__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: none;

    &-screen {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &-stone {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;

      img {
        width: 100%;
        height: 100%;
      }
    }
    &-shadow {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background: radial-gradient(
        circle 17vmax at var(--mouseX) var(--mouseY),
        transparent 40%,
        rgba(#000, 0.85)
      );
    }
  }
  &-arrow {
    position: fixed;
    top: 50%;
    font-size: 8vw;
    z-index: 1;
    transform: translateY(-50%);

    &.btn-arrow-left {
      left: 5%;
    }
    &.btn-arrow-right {
      right: 5%;
    }
  }
}
.screen {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  transform: translate(-50%, -50%);

  &__bg {
    display: flex;

    img {
      height: 70vh;
      width: auto;
      max-width: 70vw;
      object-fit: contain;
    }
  }
}
.walletscreen {
  &__content {
    &-left {
      position: absolute;
      top: 18%;
      left: 5%;
      width: 42%;
      height: 76%;
      .input {
        width: 100%;
      }
    }
  }
}
.boongascreen {
  &__content {
    position: absolute;
    bottom: 4.5%;
    left: 50%;
    transform: translateX(-49%);
    display: flex;
    flex-direction: column;
    width: 93%;
    &-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
    &-item {
      width: 50%;
      &._symbols {
        textarea {
          font-family: $font-symbols;
        }
      }
    }
    &-text {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1vh;
      font-size: 2.6vh;
      line-height: 1;
      text-shadow: -0.05em 0.05em $white;
      width: 100%;
      font-weight: 700;
      &-left {
        margin-top: 0.25em;
        min-width: 4.2em;
        text-align: right;
      }
      &-right {
        margin-top: 0.25em;
      }
    }
    &-ico {
      font-size: inherit;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 1.2em;
      min-width: unset !important;
      transition: 0.15s;
      img {
        height: 100%;
        width: auto;
      }
      &:hover {
        transform: scale(1.1);
      }
      &:active {
        transform: scale(1);
      }
    }
    .input {
      font-size: 8.79vh;
      width: 100%;
      height: 100%;
      textarea {
        top: 10%;
        width: 92%;
        height: 86%;
        font-size: 0.4em;
        font-weight: 900;
        text-shadow: -1px -1px rgba($white, 0.2);
        color: #33251c;
        &::placeholder {
          color: #33251c;
        }
        &:focus {
          &::placeholder {
            opacity: 0.8;
          }
        }
      }
      &__bg {
        width: 100%;
        img {
          height: auto;
          width: 100%;
        }
      }
    }
  }
  &__container {
    position: absolute;
    top: 24%;
    right: 3.8%;
    width: 51.7%;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    &-text {
      font-size: 2.3vh;
      line-height: 1;
      text-shadow: -0.05em 0.05em $white;
      font-weight: 700;
      padding-left: 3.5em;
      text-transform: uppercase;
    }
    &-group {
      display: flex;
      flex-direction: column;
      gap: 0.8vw;
    }
  }
  &__slider {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5vh;
    font-size: 4vw;

    &-arrow {
      flex-shrink: 0;
      font-size: inherit;
      width: 1em;
      transition: 0.15s;
    }
    &-track {
      display: flex;
      overflow: hidden;
      flex-grow: 1;
      height: 1em;
      position: relative;
    }
    &-row {
      display: flex;
      // width: max-content;
      width: 100%;
      flex-shrink: 0;
      gap: 0.14em;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: calc(20% - 0.11em);
      height: 100%;
      flex-shrink: 0;
      font-size: inherit;
      flex-shrink: 0;
      position: relative;
      z-index: 0;
      cursor: pointer;
      &-image {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 85%;
        height: 85%;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      &-bg {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  &__group {
    position: absolute;
    display: flex;
    align-items: center;
    top: 6%;
    right: 4.8%;
    gap: 0.6vw;
    width: 50%;
    .button {
      font-size: 3.7vmin;
      width: 50%;
      &-bg {
        width: 100%;
      }
      img {
        height: auto;
        width: 100%;
      }
    }
  }
  &__bg {
    img {
      height: unset;
      max-height: 80vh;
    }
  }
  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 7%;
    left: 8%;
    width: 34%;
    height: 54%;
    z-index: -1;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
.wallscreen {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    width: 100vh;
    max-width: 65vw;
    &-row {
      display: flex;
      flex-wrap: wrap;
      gap: 5vh 2vh;
      width: 100%;
    }
    &-pagination {
      display: flex;
      gap: 0.5vh;
      position: fixed;
      top: calc(100% + 4.5vh);
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__button {
    position: relative;
    font-size: 3.7vh;
    transition: 0.15s;
    font-family: $font-main;
    span {
      font-size: 1.4em;
      font-weight: 700;
      text-shadow: -0.03em 0.03em $white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &-bg {
      display: flex;
      height: 2em;
      img {
        width: auto;
        height: 100%;
      }
    }
    &:hover {
      transform: translateY(-2.2%);
      color: #7d1700;
    }
    &:active {
      transform: translateY(-4%);
    }
    &:after {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      background: radial-gradient(#ffc2b5, transparent 70%);
      transition: 0.24s ease-in;
      opacity: 0;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &.active {
      &:after {
        opacity: 0.5;
        mix-blend-mode: hard-light;
      }
    }
  }
  &__frame {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(25% - 1.5vh);
    position: relative;
    &-image {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 77%;
      height: 65%;
      position: absolute;
      left: 49%;
      top: 5%;
      transform: translateX(-50%);
      z-index: -1;
      border-radius: 1vh 1vh 0 0;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
      }
    }
    &-text {
      font-size: 2.2vh;
      line-height: 1;
      text-shadow: -0.03em 0.03em $white;
      font-weight: 700;
      position: absolute;
      bottom: 12%;
      width: 80%;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
    }
    &-bg {
      display: flex;
      width: 100%;
      img {
        width: 100%;
        object-fit: contain;
      }
    }
  }
}

@mixin home-1540 {
  .boongascreen {
    &__container {
      gap: 3vw;
    }
    &__group {
      .button {
        font-size: 2vw;
      }
    }
  }
}
@mixin home-1280 {
  .boongascreen {
    &__container {
      gap: 2vw;
    }
  }
}
