.home {
  display: flex;
  width: 100%;
  height: 100%;

  &__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &__section {
    position: absolute;
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
  }
  &__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    &-screen {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  &-arrow {
    position: fixed;
    top: 50%;
    display: flex;
    width: 8vw;
    z-index: 1;
    transform: translateY(-50%);
    transition: 0.2s ease-in;

    img {
      width: 100%;
      height: auto;
    }
    &-left {
      left: 5%;
    }
    &-right {
      right: 5%;
    }
    &:hover {
      transform: translateY(-55%);
    }
    &:active {
      transform: translateY(-52%);
    }
    &:disabled {
      cursor: default;
      filter: grayscale(0.15);
      transform: translateY(-50%);
    }
  }
}
.screen {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  transform: translate(-50%, -50%);

  &__bg {
    display: flex;

    img {
      height: 70vh;
      width: auto;
      max-width: 70vw;
      object-fit: contain;
    }
  }
}
.walletscreen {
  &__content {
    &-left {
      position: absolute;
      top: 18%;
      left: 5%;
      width: 42%;
      height: 76%;
      .input {
        width: 100%;
      }
    }
  }
}
.boongascreen {
  &__content {
    position: absolute;
    bottom: 4.5%;
    left: 50%;
    transform: translateX(-49%);
    display: flex;
    flex-direction: column;
    width: 93%;
    &-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 27.5%;
    }
    &-left {
      height: 100%;
    }
    &-right {
      height: 100%;
    }
    &-text {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1vh;
      font-size: 2.6vh;
      line-height: 1;
      text-shadow: -0.05em 0.05em $white;
      width: 100%;
      font-weight: 700;
      &-left {
        min-width: 4.2em;
        text-align: right;
      }
    }
    &-ico {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 1.2em;
      min-width: unset !important;
      img {
        height: 100%;
        width: auto;
      }
    }
    .input {
      font-size: 8.79vh;
      width: 100%;
      height: 100%;
      textarea {
        top: 10%;
        width: 92%;
        height: 86%;
        font-size: 0.4em;
        text-shadow: -0.03em 0.03em $white;
        color: #33251c;
        &::placeholder {
          color: #33251c;
        }
      }
      &__bg {
        height: 100%;
        img {
          max-height: 20vmax;
          height: 2.2em;
          max-height: 100%;
        }
      }
    }
  }
  &__container {
    position: absolute;
    top: 24%;
    right: 3.8%;
    width: 51.7%;
    display: flex;
    flex-direction: column;
    gap: 6vh;
    &-text {
      font-size: 2.5vh;
      line-height: 1;
      text-shadow: -0.05em 0.05em $white;
      font-weight: 700;
      padding-left: 3.5em;
    }
    &-group {
      display: flex;
      flex-direction: column;
      gap: 0.7vh;
    }
  }
  &__slider {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5vh;
    &-arrow {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 8.1vh;
      transition: 0.3s;
      &._left {
        right: unset;
        left: 0;
      }
      img {
        width: 100%;
        height: auto;
      }
      &:hover {
        transform: translateY(-2.5%);
      }
      &:active {
        transform: translateY(-2.5);
      }
    }
    &-row {
      width: 100%;
      display: flex;
      overflow: hidden;
    }
    &-item {
      flex-shrink: 0;
      width: 100%;
      height: 6vh;
      background: red;
      &:nth-child(2) {
        background: black;
      }
    }
  }
  &__group {
    position: absolute;
    display: flex;
    align-items: center;
    top: 8%;
    right: 5.9%;
    gap: 0.12vh;
  }
  &__button {
    position: relative;
    font-family: $font-main;
    z-index: 0;
    font-size: 3.2vh;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.15s;
    span {
      width: 100%;
      font-size: 0.8em;
      line-height: 1;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-shadow: -0.04em 0.04em $white;
    }
    &-left {
      height: 2.75em;
      span {
        font-size: 1em;
      }
      .boongascreen {
        &__button {
          &-bg {
            img {
              height: 2.8em;
            }
          }
        }
      }
    }
    &-right {
      span {
        max-width: 8em;
      }
    }
    &-bg {
      display: flex;
      img {
        height: 3em;
        width: auto;
      }
    }
    &:hover {
      transform: translateY(-2%);
    }
    &:active {
      transform: translateY(-2%);
    }
  }
}
.wallscreen {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    width: 100vh;
    max-width: 65vw;
    &-row {
      display: flex;
      flex-wrap: wrap;
      gap:5vh 2vh;
      width: 100%;
    }
    &-pagination {
      display: flex;
      gap: 0.5vh;
      position: fixed;
      top: calc(100% + 4.5vh);
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__button {
    position: relative;
    font-size: 3.7vh;
    transition: 0.15s;
    span {
      font-size: 0.7em;
      font-weight: 700;
      text-shadow: -0.03em 0.03em $white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &-bg {
      display: flex;
      height: 2em;
      img {
        width: auto;
        height: 100%;
      }
    }
    &:hover {
      transform: translateY(-2%);
    }
    &:active {
      transform: translateY(-2%);
    }
  }
  &__frame {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(25% - 1.5vh);
    position: relative;

    &-text {
      font-size: 2.2vh;
      line-height: 1;
      text-shadow: -0.03em 0.03em $white;
      font-weight: 700;
      position: absolute;
      bottom: 12%;
      width: 80%;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
    }
    &-bg {
      display: flex;
      width: 100%;
      img {
        width: 100%;
        object-fit: contain;
      }
    }
  }
}

@mixin home-1440-1024 {
  .hallscreen {
    &__container {
      top: 31%;
      gap: 8vh;
    }
    &__content {
      bottom: 11.5%;
      .input {
        font-size: 7.9vh;
      }
    }
    &__group {
      top: 14.5%;
      gap: 4.4vh;
    }
    &__button {
      font-size: 2.8vh;
    }
  }
}
@mixin home-1440-960 {
  .hallscreen {
    &__container {
      top: 29.5%;
      gap: 9.4vh;
    }
    &__content {
      bottom: 7.5%;
    }
    &__group {
      top: 10.9%;
    }
    &__button {
      font-size: 3.1vh;
    }
  }
}
@mixin home-1280-1024 {
  .hallscreen {
    &__container {
      top: 32%;
      gap: 7vh;
    }
    &__content {
      bottom: 14.8%;
      .input {
        font-size: 7.2vh;
      }
    }
    &__group {
      top: 17.5%;
      gap: 4vh;
    }
    &__button {
      font-size: 2.6vh;
    }
  }
}
@mixin home-1280-832 {
  .hallscreen {
    &__container {
      top: 29%;
      gap: 9.8vh;
    }
    &__content {
      bottom: 6.9%;
    }
    &__group {
      top: 9.7%;
    }
  }
}
@mixin home-1024-768 {
  .hallscreen {
    &__container {
      top: 31%;
      gap: 7.8vh;
    }
    &__content {
      bottom: 12.3%;
      .input {
        font-size: 7.79vh;
      }
    }
    &__group {
      top: 15.3%;
      gap: 4.3vh;
    }
    &__button {
      font-size: 2.75vh;
    }
  }
}
