.appscreen {
  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 17%;
    left: 5%;
    width: 42%;
    height: 62%;
    z-index: -1;
    background: #2e2e2e;

    img,
    iframe {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__bg {
    pointer-events: none;
  }
  &__content {
    position: absolute;
    top: 50%;
    right: 4.3%;
    width: 40%;
    height: 82%;
    transform: translateY(-50%);
    &-image {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      transition: 0.4s ease;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
      &.active {
        opacity: 1;
      }
    }
    &-arrow {
      cursor: pointer;
      position: absolute;
      top: 50%;
      left: 96%;
      text-shadow: -0.65px 1.85px #ffffff82;
      color: #2b0501;
      transform: translateY(-50%);
      font-size: 4vh;
      filter: drop-shadow(2px 2px 14px white);

      &._left {
        right: 96%;
        left: unset;
      }
    }
  }
}
.home {
  display: flex;
  width: 100%;
  height: 100%;
  @include noSelect;

  &__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &__section {
    cursor: default;
    position: absolute;
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
  }
  &__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: none;
    cursor: url(/images/pn-cursor.png), auto;

    &-screen {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &-stone {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;

      img {
        width: 100%;
        height: 100%;
      }
    }
    &-shadow {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background: radial-gradient(
        circle 17vmax at var(--mouseX) var(--mouseY),
        transparent 40%,
        rgba(#000, 0.7)
      );
    }
  }
  &-arrow {
    position: fixed;
    top: 50%;
    font-size: 8vw;
    z-index: 1;
    transform: translateY(-50%);

    &.btn-arrow-left {
      left: 5%;
    }
    &.btn-arrow-right {
      right: 5%;
    }
  }
  &-volume {
    position: fixed;
    bottom: 5%;
    left: 5%;
    z-index: 1;
    opacity: 1;
    width: 4.5vw;
  }
}
.screen {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  transform: translate(-50%, -50%);
  @include noSelect;

  &__bg {
    display: flex;

    img {
      height: 70vh;
      width: auto;
      max-width: 70vw;
      object-fit: contain;
    }
  }
}
.walletscreen {
  &__content {
    &-left {
      position: absolute;
      top: 15.5%;
      left: 5%;
      width: 42%;
      height: 76%;
      .input {
        width: 100%;
      }
    }
  }
  &__stickers {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }
  &__sticker {
    position: absolute;
    left: 0;
    bottom: 0%;
    width: 100%;
    height: 55%;
    animation: fadeIn 0.5s ease-out 0.13s backwards;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__popup {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background: rgba($black, 0.4);
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease;
    &-inner {
      margin: auto;
      position: relative;
      transform: scale(0.7);
      transition: 0.3s ease;
    }
    &-close {
      position: absolute;
      right: -12%;
      top: 0%;
      width: 4vw;
      transition: 0.3s ease;
    }
    &-image {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 27vw;
      img {
        width: 100%;
        height: auto;
      }
    }

    audio {
      display: none;
    }
    &.active {
      opacity: 1;
      pointer-events: all;
      .walletscreen {
        &__popup {
          &-inner {
            transform: scale(1);
          }
        }
      }
    }
  }
  .screen {
    &__bg {
      img {
        max-height: 70vh;
        min-height: 50vh;
        height: auto;
      }
    }
  }
}
.wallscreen {
  min-height: 63vh;
  &__container {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    width: 100vh;
    max-width: 65vw;
    &-row {
      display: flex;
      flex-wrap: wrap;
      gap: 5vh 2vh;
      width: 100%;
    }
    &-pagination {
      display: flex;
      gap: 0.5vh;
      position: fixed;
      top: calc(100% + 4.5vh);
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__button {
    position: relative;
    font-size: 2.2vh;
    transition: 0.15s;
    font-family: $font-main;
    span {
      font-size: 1.4em;
      font-weight: 700;
      text-shadow: -0.03em 0.03em $white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &-bg {
      display: flex;
      height: 2em;
      img {
        width: auto;
        height: 100%;
      }
    }
    &:hover {
      transform: translateY(-2.2%);
      color: #7d1700;
    }
    &:active {
      transform: translateY(-4%);
    }
    &:after {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      background: radial-gradient(#ffc2b5, transparent 70%);
      transition: 0.24s ease-in;
      opacity: 0;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &.active {
      &:after {
        opacity: 0.5;
        mix-blend-mode: hard-light;
      }
    }
  }
  &__frame {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(25% - 1.5vh);
    position: relative;
    cursor: pointer;
    transition: 0.3s ease;
    &:hover {
      transform: translateY(-5px);
    }
    &-image {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 77%;
      height: 65%;
      position: absolute;
      left: 49%;
      top: 5%;
      transform: translateX(-50%);
      z-index: -1;
      border-radius: 1vh 1vh 0 0;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
      }
    }
    &-text {
      font-size: 2.2vh;
      line-height: 1;
      text-shadow: -0.03em 0.03em $white;
      font-weight: 700;
      position: absolute;
      bottom: 11%;
      width: 80%;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      text-transform: uppercase;
    }
    &-bg {
      display: flex;
      width: 100%;
      img {
        width: 100%;
        object-fit: contain;
      }
    }
  }
  &__popup {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0;
    transform: scale(0.7);
    pointer-events: none;
    transition: 0.3s ease;
    &.active {
      opacity: 1;
      transform: scale(1);
      pointer-events: all;
    }
    &-bg {
      display: flex;
      align-items: center;
      justify-content: center;
      width: calc(100% + 2vw);
      height: calc(100% + 2vw);
      position: absolute;
      top: 48%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 0;
      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }
    &-image {
      display: flex;
      width: 42%;
      height: 66%;
      position: absolute;
      top: 12%;
      left: 4%;
      z-index: -1;
      img {
        width: 100%;
        height: 100%;
      }
    }

    &-title {
      position: absolute;
      bottom: 7.4%;
      left: 6.2%;
      z-index: 1;

      //font
      color: #380202;
      font-size: 5.6vh;
      letter-spacing: -0.03em;
      text-shadow: -0.023em 0.03em #ffffff82;
      transition: 0.2s ease-out;
      line-height: 120%;

      //display
      display: flex;
      align-items: center;
      gap: 0.15em;
      max-width: 42%;

      span {
        max-width: 80%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      img {
        width: 1em;
        height: 1em;
        object-fit: cover;
        transition: 0.2s ease-out;
      }
      &:hover {
        color: #972118;

        img {
          filter: brightness(1.5) saturate(1.2);
        }
      }
    }
    &-sticker {
      position: absolute;
      top: 30%;
      right: 6%;
      width: 37%;
      height: 50%;
      z-index: 1;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &-comment {
      position: absolute;
      top: 30%;
      right: 6%;
      width: 37%;
      height: 50%;
      z-index: 1;

      p,
      pre {
        font-family: $font-main;
        color: hsl(4, 73%, 28%);
        font-size: 5vh;
        line-height: 120%;
        text-align: center;
        text-shadow: -0.025em 0.03em #ffffff82;
      }
    }
    &-close {
      position: absolute;
      right: 2.5%;
      top: -1%;
      width: 6%;
      z-index: 1;
      transition: 0.3s ease;
    }
  }
}

@mixin home-1280 {
  .home {
    &-arrow {
      &.btn-arrow-right {
        right: 3%;
      }
      &.btn-arrow-left {
        left: 3%;
      }
    }
    &-volume {
      left: 3%;
    }
  }
  .screen {
    &__bg {
      img {
        max-width: 75vw;
      }
    }
  }
  .walletscreen {
    top: 54%;
  }
}
