.leaderboard {
  transform: translate(-50%, 0%);
  top: unset;
  bottom: 0;
  &__list {
    font-size: 2.2vw;
    text-shadow: -0.03em 0.03em #fff;
    font-weight: 700;
    line-height: 1;
    position: absolute;
    top: 18%;
    right: 11.5%;
    width: 25%;
    height: 70%;
    overflow: auto;
    padding-right: 5px;
    @include hideScroll;
    li {
      word-break: break-all;
      @include ellipsis(1);
    }
  }
  &__item {
    position: absolute;
    width: 12%;
    height: 26%;
    z-index: 0;
    &-image {
      width: 70%;
      height: 63%;
      position: absolute;
      top: 16%;
      right: 12%;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: -1;
      img {
        width: 100%;
        height: 100%;
      }
      &._lg {
        width: 75%;
        height: 67%;
        top: 8%;
        right: 10%;
      }
    }
    &-bg {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &-text {
      position: absolute;
      width: 68%;
      bottom: 8%;
      left: 19%;
      font-size: 1vw;
      line-height: 1;
      text-shadow: -0.03em 0.03em #fff;
      font-weight: 700;
      word-break: break-all;
      @include ellipsis(1);
    }
    &._first {
      top: -2%;
      left: 21%;
    }
    &._second {
      width: 10.5%;
      height: 21%;
      top: 27%;
      left: 12%;
    }
    &._third {
      width: 10.5%;
      height: 22%;
      top: 31%;
      left: 29%;
    }
  }
  .screen__bg {
    img {
      height: auto;
      max-height: 70vw;
      max-width: 70vw;
    }
  }
}
@mixin leaderboard-1728 {
  .leaderboard {
    &__list {
      font-size: 2.6vw;
    }
    .screen__bg {
      img {
        max-width: 85vw;
      }
    }
  }
}
@mixin leaderboard-1024 {
  .leaderboard {
    .screen__bg {
      img {
        height: auto;
        max-height: 75vw;
        max-width: 90vw;
      }
    }
  }
}
