.mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  background: $black;
  &__inner {
    margin: auto;
    z-index: 0;
    &-container {
      width: 100%;
      position: relative;
      transform: translateY(10%);
    }
    &-box {
      width: 100%;
      font-size: 6.5vw;
      position: absolute;
      top: 8%;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      flex-direction: column;
      gap: 1em;
    }
    &-text {
      text-align: center;
      font-size: inherit;
      line-height: 1;
      color: #8a1417;
      text-shadow: -0.02em 0.01em $white;
    }
    &-sticker {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      width: 45%;
      bottom: 10%;
      left: 50%;
      transform: translateX(-50%);
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &-bg {
      width: 80%;
      max-width: 70vh;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: -1;
      margin: 0 auto;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    &-image {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      img {
        min-width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
