.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 30px;
  z-index: 2;

  font-size: 10.5vh;
  @include noSelect;

  &__inner {
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 0;
    z-index: 2;

    &-logo {
      cursor: pointer;
      display: flex;
      filter: drop-shadow(0 0 3px rgba($black, 0.4));
      transition: 0.23s ease-out;

      img {
        height: 2em;
        width: auto;
      }

      &:hover {
        filter: brightness(1.05);
      }
      &:active {
        filter: brightness(1.05);
        transform: scale(0.98);
      }
    }
    &-group {
      display: inherit;
      flex-flow: inherit;
      margin: 0 auto;
    }
  }
  &-btn {
    position: relative;
    cursor: pointer;
    display: flex;
    transform: translateY(-6%);
    transition: 0.23s ease-out;
    font-size: inherit;

    img {
      height: 1em;
      width: auto;
    }
    &:hover {
      transform: translateY(-2%);
    }
    &:active {
      transform: translate(0);
      filter: grayscale(0.2);
    }

    &:after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: radial-gradient(#ffc2b5, transparent 70%);
      transform: translateY(-100%);
      transition: 0.24s ease-in;
      opacity: 0;
    }
    &.active {
      transform: translate(0) !important;

      &:after {
        opacity: 1;
        mix-blend-mode: hard-light;
        transform: translateY(-50%); 
      }
    }
  }
}
