@font-face {
  font-family: 'Primal Nomad Symbol';
  src: url('/fonts/PrimalNomadFontSymbol-Rg.woff2') format('woff2'),
      url('/fonts/PrimalNomadFontSymbol-Rg.woff') format('woff'),
      url('/fonts/PrimalNomadFontSymbol-Rg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Primal Nomad Alphabet';
  src: url('/fonts/PrimalNomadFontAlphabet-Rg.woff2') format('woff2'),
      url('/fonts/PrimalNomadFontAlphabet-Rg.woff') format('woff'),
      url('/fonts/PrimalNomadFontAlphabet-Rg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


/* Typography */
h1 {
  font-size: 52px;
}
h2 {
  font-size: 48px;
}
h3 {
  font-size: 34px;
}
h4 {
  font-size: 22px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 18px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-primary;
  font-weight: 700;
  line-height: 1.2em;
}

p {
  line-height: 1.8em;
}
