$primary: #b5ed3d;
$secondary: #2f5bd1;
$black: #101010;
$white: #fff;

$font-symbols: "Primal Nomad Symbol", sans-serif;
$font-main: "Primal Nomad Alphabet", sans-serif;
$font-primary: $font-main, sans-serif;
